<div *ngFor="let user of users">
  <div>{{ user.name }}</div>
  <button (click)="selecionarPessoa(user)">Selecionar</button>
</div>

<div *ngIf="selectedUser">
  <h3>Transferência para: {{ selectedUser.name }}</h3>
  <p>Agência: {{ selectedUser.account.agency }}</p>
  <p>Conta: {{ selectedUser.account.number }}</p>

  <label for="valorTransferencia">Valor da Transferência:</label>
  <input type="number" [(ngModel)]="transferValueInput">
  <button (click)="realizarTransferencia()" [disabled]="transferValueInput > accountValue">Transferir</button>
</div>
