@media screen and (min-width: 320px) {
  .menu-list ul li a {
    font-size: small;
  }
}
@media screen and (min-width: 728px) {
  .small-card-container{
    margin: auto;
    width: 25vw;
    height: 20vh;
    background-color: white;
    padding-top: 15px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    transition: transform;
  }
  .icon{
    color:  red;
    height: 60px;
    width: 60px;
  }
  .small-card-content p {
    font-size: x-large;
  }

}
